<?xml version="1.0" encoding="utf-8"?>
<configuration>

<packageSources>
  <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyFeed" value="C:\mypackages\packageReferences" />
  </packageSources>

<!-- <bindingRedirects>
    <add key="skip" value="False" />
</bindingRedirects> -->
<packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
</packageRestore>
<!-- <packageManagement>
   <add key="format" value="1" />
   <add key="disabled" value="False" />
</packageManagement> -->

 <config>
  <clear />
    <!-- <add key="repositoryPath" value="C:\mypackages\packagesdeveloper" /> -->
    <add key="globalPackagesFolder" value="C:\mypackages\packageReferences" />
 </config>

</configuration>
